form.test-registration-form,
.authorization-user-login-front {
	position: relative;
  width: 100%;
  max-width: 400px;

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .login-remember {
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background: grey;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7px 30px 5px 30px;
    font-size: 14px;
    line-height: 1;
    transition: 0.3s;

    &:hover {
      background: #fff;
    }
  }
}
.error {
	display: none;
	color: red;
}
.success {
	display: none;
	color: green;
}
.hidden {
	display: none;
}
